/* background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245 */

body {
  background-color: #540b51; /* Purple background */
  color: #000; /* Default black for text */
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.2rem;
  width: 80%;
  text-align: center;
  color: #f3eae2; /* Titles white */
}

/* Paragraph Styles */
p {
  font-size: 1rem;
  color: #000000; /* Paragraph black */
}

/* Slack Logo and Menu Icons - Mobile First */
.menu-icons {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between Slack logo and menu icons */
  padding: 10px;
}

.slack-logo {
  width: 30%;
  margin-left: 15px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border-left: 30px;
}

.title p {
  color: #f3eae2;
}

.yellow {
  color: #ecb12f;
}

button {
  height: 35px;
  justify-content: space-between;
}

button img {
  height: 90%;
}

.sign-up {
  display: flex;
  justify-content: space-between;
}

#search-icons {
  display: flex;
  gap: 10px;
}

#search-icons button {
  background: none;
  border: none;
  cursor: pointer;
}

#magic-list {
  display: none;
}

#screenshot-image {
  display: flex;
}

#screenshot-image img {
  width: 150%; /* Make the image take 100% of the container's width */
  height: auto;
  margin-top: 20px;
}

/* Iteration 1 | Mobile Screens (width < 768px)
Mobile first, right? :wink:

We will start by focusing on the styles for mobile screens first! 
:iphone: Oh! Remember to use Flexbox to create the layout and display the content in rows or columns from the start.
 You'll be working on adapting the layout to different screen sizes in the following iterations, so it's essential that you start using Flexbox from beginning to end!


When done, your page should look like this: Preview - Mobile


Use the following page screenshot as the guide:

Screenshot - Mobile Screens */
